body {
  background-color: aqua;
}

.thumbimg {
  height: 200px;
  width: 200px;
}

.details {
  text-align: center;
  margin-top: 200px;
}

.searchForm {
  border: blue solid 1px;
  margin-top: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.meal {
  border: red solid 1px;
}
